.p-blog {
  max-width: 1300px;
  margin: 0 auto;
  &__subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    font-size: 24px;
    p {
      padding-right: 15px;
    }
    form {
      flex: 1;
      display: flex;
      input {
        flex: 1;
        padding: 10px 0;
        padding-left: 10px;
        margin: 0 10px;
        outline: none;
        border: none;
        border: 1px solid gray;
      }
      button {
        min-width: 100px;
        padding: 10px 40px;
        background-color: #000;
        color: #fff;
      }
    }
  }
  &__card-list {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__inner {
    width: calc(1300px / 4 - 30px);
    margin: 20px 5px;
  }
  &__img {
    height: 350px;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  &__icon {
    i {
      margin-right: 10px;
    }
    span {
      margin-right: 10px;
    }
  }
  &__text {
    margin: 10px 0;
    a{
        font-weight: bold;
    }
  }
}




