.p-detail {
  margin: 0 auto;
  max-width: 1300px;
  &__image {
    height: 500px;
    position: relative;
    overflow: hidden;
    div {
      &:nth-child(1) {
        position: absolute;
        inset: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(40px);
        -webkit-filter: blur(40px);
      }
      &:nth-child(2) {
        z-index: 99;
        position: absolute;
        inset: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  &__recipes-bloc {
    display: flex;
    justify-content: center;
    div {
      background-color: rgb(0, 0, 0);
      color: aliceblue;
      font-weight: bold;
      padding: 5px 10px;
      font-size: 25px;
      font-weight: 400;
      margin: 0 5px;
    }
  }
  &__recipes {
    margin-right: 5px;
  }
  h1 {
    text-align: center;
    font-weight: 500;
    font-size: 45px;
    margin: 30px 0px;
  }
  &__text {
    max-width: 1060px;
    margin: 0px auto;
  }
  &__text-description {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 50px;
  }
}
.Button {
  text-align: center;
  margin-bottom: 50px;
  button {
    border: none;
    font-size: 15px;
    background: none;
  }
}
