.p-main-virtual {
  font-family: 'Poppins', sans-serif;
  background-image: url("./img/main-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  &__inner {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__content {
    width: 50%;
    h1 {
      font-family: "Poppins", sans-serif;
      text-transform: capitalize;
      font-size: 64px;
      line-height: 1.2;
    }
    > p {
      margin-top: 20px;
      margin-bottom: 40px;
      line-height: 1.5;
      a {
        text-decoration: underline;
        margin-left: 5px;
      }
    }
  }
  &__info {
    margin-bottom: 20px;
    span {
      margin-right: 20px;
      i {
        margin-right: 10px;
      }
    }
  }
  &__user-chip {
    display: flex;
    align-items: center;
    img {
      border-radius: 999px;
      margin-right: 10px;
    }
  }
}
