@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Explora&family=Fredoka+One&family=Lobster&display=swap');

.l-container{

  max-width: 1750px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  &__img{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    img{
      width: 100%;
      height: 100%;
    }
    .img-text{
      position: absolute;
      color: #fff;
      opacity: 0.9;
      bottom: 10px;
      p{
        text-align: center;
        font-size: 28px;
      }
      span{
        display: block;
        text-align: center;
        font-size: 22px;
      }
    }
    .slide-btn{
      bottom: 10px;
      position: absolute;
      display: flex;
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        margin-right: 5px;
        button{
          border: none;
          width: 10px;
          height: 12px;
          border-radius: 50%;
          opacity: 0.6;
        }
        .active{
          width: 25px;
          border-radius: 99px;
          opacity: 1;
        }
      }
    }
  }
  &__textbox{
    margin: 0 auto;
    width: 450px;
  }
  &__text{
    background-color: #fff;
    width: 50%;
    h1{
      // font-family: 'Dancing Script', cursive;
      font-weight: 700;
      font-size: 40px;
      text-align: center;
    }
    p{
      margin-top: 10vh;
      color: rgb(169, 169, 169);
      text-align: center;
      font-size: 24px;
      letter-spacing: 1px;
    }
    form{
      margin-top: 8vh;
      .input-control {
        display: flex;
        flex-direction: column;
        label{
          color: rgb(169, 169, 169);
        }
        input{
          border:none;
          outline: none;
          display: block;
          padding: 5px;
          font-size: 20px;
          border-bottom: 2px solid rgb(169, 169, 169);;
          margin-bottom: 15px;
        }
      }
      .btn-SignIn{
        margin-top: 8vh;
        margin-bottom: 10vh;
        text-align: center;
        a{
          text-decoration: none;
          padding: 10px 40px;
          border-radius: 99px;
          background-color: rgb(52, 52, 52);
          color: #fff;

        }
      }
      p{
          font-size: 18px;
      }
    }
  }
}